<dl>
	<dt>
		<label for="allowdefaultavatar1">{L_UCP_ALLOW_DEFAULT_AVATAR}</label>
		<br /><span>{L_UCP_ALLOW_DEFAULT_AVATAR_EXPLAIN}</span>
	</dt>
	<dd>
		<label>
			<input name="allowdefaultavatar" id="allowdefaultavatar1" type="radio" value="1"<!-- IF ALLOW_DEFAULT_AVATAR --> checked="checked"<!-- ENDIF --> /> {L_YES}
		</label>
		<label>
			<input name="allowdefaultavatar" id="allowdefaultavatar0" type="radio" value="0"<!-- IF not ALLOW_DEFAULT_AVATAR --> checked="checked"<!-- ENDIF --> /> {L_NO}
		</label>
	</dd>
</dl>